<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.naveen.remaindme">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FlashActivity"
            android:exported="true"
            android:theme="@style/noactionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceive">
            <intent-filter>
                <action android:name="com.example.naveen.remaindme.AlarmReceive" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LockscreenActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_lockscreen"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".FirstActivity"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".ActionActivity"
            android:theme="@style/noactionbar"></activity>
    </application>

</manifest>